.vs/
.vscode/

build/

dll/proto_gen/

tools/generate_emu_config/.py*/
tools/generate_emu_config/.venv*/
tools/generate_emu_config/.env*/
tools/generate_emu_config/.vscode/
tools/generate_emu_config/backup/
tools/generate_emu_config/bin/
tools/generate_emu_config/build/
tools/generate_emu_config/login_temp/
tools/generate_emu_config/**/__pycache__/
tools/generate_emu_config/generate_emu_config*.spec
tools/generate_emu_config/**/my_login.txt

third-party/
