.vs/*
.vscode/*
*.bin
*.o
net.pb.*
*steam_api*
release/*
/build*/
*.obj
/dll/net.pb.cc
/dll/net.pb.h
base.exp
base.lib
steamclient.exp
steamclient.lib
out/*

scripts/.py*/
scripts/.venv*/
scripts/.env*/
scripts/.vscode/
scripts/backup/
scripts/bin/
scripts/build_tmp*/
scripts/login_temp/
scripts/**/__pycache__/
scripts/generate_emu_config.spec
scripts/my_login.txt

third-party/
